<div class="card border-2 border-neutral-white100">
  <div class="card__header-account-1-homepage">
    <div class="text-white flex items-center gap-2">
      <span
        class="text-text-textoncolorsecondary text-body-medium-regular"
        >Số tài khoản:</span
      >
      <span class="flex items-center gap-2">
        <p
          class="text-text-textoncolorprimary text-body-large-semibold"
        >
          1688 0000 888
        </p>
        <app-copy-button
            [text]="accountDetails.accountNumber"
            class=""
            [size]="5"
          >
          </app-copy-button>
      </span>
    </div>
    <div class="flex items-end justify-between gap-3">
      <div class="flex items-center gap-1">
        <div class="text-heading-medium text-neutral-white100">
          {{ isVisible ? (12320000 | number) : '*** *** ***' }}
          <sup>VND</sup>
        </div>
      </div>
      <button
        class="bg-white p-[6px] rounded-full flex items-center"
        (click)="handleClick()"
      >
        <app-svg
          [src]="eyeIcons[isVisible ? 'visible' : 'hidden']"
          [size]="5"
          [color]="'text-neutral-white60'"
        ></app-svg>
      </button>
    </div>
  </div>
  <div class="card__header-account-2-homepage">
    <div class="flex items-center gap-2">
      <app-svg
        src="/media/icons/outline/history.svg"
        color="text-white"
        alt="dot"
      />
      <p class="text-text-textoncolorprimary text-body-medium-regular">
        Lịch sử giao dịch
      </p>
    </div>
    <button
      app-button
      [color]="UI.ButtonColor.LinkOnColor"
      [iconOnly]="true"
      aria-label="Action"
      [prefixIcon]="'media/icons/outline/arrow-right.svg'"
      [size]="UI.ButtonSize.Md"
    ></button>
  </div>
</div>