:host {
  ::ng-deep {
    .ant-tabs {
      &-nav {
        margin: 0 !important;

        &::before {
          border-bottom: 0 !important;
        }

        &-wrap {
          @apply w-full flex;

          &:before,
          &:after {
            display: none;
          }
        }
      }

      &-tab {
        @apply p-0 m-0 flex items-center justify-center w-full h-10;
        @apply border-b-transparent #{!important};

        & + & {
          margin: 0;
        }

        &-btn {
          @apply px-4 md:px-6 py-[10px] transition-none text-label-medium text-text-textneutralsecondary;
          &,
          &:focus {
            // @apply text-text-disable;
          }
        }
      }

      &-nav-operations {
        .ant-tabs-nav-more {
          @apply py-0;
          @apply px-2 #{!important};
        }
      }
    }
  }

  &.app-tab-line,
  &.app-tab-line-fill {
    ::ng-deep .ant-tabs-tab {
      height: var(--height-tabline-md);
    }
  }

  &.app-tab {
    @apply block;
  }

  &.app-tab-sm {
    ::ng-deep .ant-tabs-tab {
      height: var(--height-input-sm);
      &-btn {
        @apply py-[6px];
      }
    }

    &.tab-line,
    &.tab-line-fill {
      ::ng-deep .ant-tabs-tab {
        height: var(--height-tabline-sm);
      }
    }
  }

  &.app-tab-lg {
    ::ng-deep .ant-tabs-tab {
      height: var(--height-input-lg);
      &-btn {
        @apply py-[6px];
      }
    }

    &.tab-line,
    &.tab-line-fill {
      ::ng-deep .ant-tabs-tab {
        height: var(--height-tabline-lg);
      }
    }
  }

  &.app-tab-fill {
    ::ng-deep {
      .ant-tabs-nav-list {
        @apply flex-1;
      }
    }
  }

  &.app-tab-line {
    ::ng-deep {
      .ant-tabs-ink-bar::before {
        width: 20px;
      }
    }
  }

  &.app-tab-line,
  &.app-tab-line-fill {
    ::ng-deep {
      .ant-tabs {
        &-ink-bar {
          @apply bg-transparent;
          @apply h-[2px] #{!important};

          &::before {
            content: "";
            @apply h-full block rounded-full mx-auto;
          }
        }

        &-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
          // @apply text-primary;
        }
      }
    }
  }

  &.app-tab-line-fill {
    ::ng-deep {
      .ant-tabs-ink-bar::before {
        width: 100%;
      }
    }
  }

  &.app-tab-pill {
    @apply rounded-full;

    ::ng-deep {
      .ant-tabs {
        &-nav {
          @apply p-1 bg-neutral-black5 rounded-full;

          &-wrap {
            @apply rounded-full;
            .ant-tabs-ink-bar {
              @apply rounded-full z-[-1] shadow-shadow-xs bg-background-backgroundwhite;
              @apply h-full #{!important};
            }
          }
        }

        &-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
          // @apply text-primary;
        }

        &-ink-bar {
          // @apply bg-bg-base;
        }
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        @apply text-text-textlink
      }
    }

    &.app-tab-brand {
      ::ng-deep .ant-tabs {
        &-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
          // @apply text-text-base;
        }

        &-ink-bar {
          // @apply bg-primary;
        }
      }
    }
  }
  &.app-tab-button-pill {
    @apply rounded-full;

    ::ng-deep {
      .ant-tabs {
        &-nav {
          &-wrap {
            @apply rounded-full;
          }
        }

        &-ink-bar {
          @apply hidden;
        }
      }
      .ant-tabs-nav-list {
        @apply gap-2;
      }
      .ant-tabs-tab {
        .ant-tabs-tab-btn {
          @apply bg-background-backgroundsecondary  border border-background-backgroundsecondary text-text-textneutralsecondary border-solid rounded-full py-2 px-3 h-full;
        }

        &.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            @apply text-text-textlink bg-brand-brandprimary10 border-border-borderbrand;
          }
        }
      }
    }
  }
}
