$sizeBtns:
  ("", 32px, 600 #{14px}/ 20px, 5, var(--br-lg), 10px 16px, 20px),
  ("-xs", 24px, 600 #{12px}/ 16px, 4, var(--br-xs), 4px 12px, 16px),
  ("-sm", 32px, 600 #{14px}/ 20px, 5, var(--br-sm), 6px 12px, 16px),
  ("-lg", 48px, 600 #{16px}/ 24px, 6, var(--br-lg), 12px 16px, 24px);

// $name, $colorText, $colorTextHover,
// $colorTextActive, $bg, $bgHover,
// $bgActive, $border, $shadow, $disableColor, $disableText, $disableBorder
$buttonConfig:
  (
    "primary",
    var(--text-textoncolorprimary),
    // text color
    var(--text-textoncolorprimary),
    // text color hover
    var(--text-textoncolorprimary),
    // text color active
    var(--btn-primary-color),
    // background
    var(--btn-primary-color-hover),
    // background hover
    var(--btn-primary-color-pressed),
    // background active
    var(--transparent),
    // border
    var(--focus-ring-focus-ring),
    // shadow (for focus state)
    var(--background-backgrounddisable),
    // background disable
    var(--text-textdisable),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "secondary",
    var(--text-textlink),
    // text color
    var(--text-textlink),
    // text color hover
    var(--text-textlink),
    // text color active
    var(--background-backgroundwhite),
    // background
    var(--brand-brandprimary10),
    // background hover (guessing based on common patterns)
    var(--brand-brandprimary10),
    // background active (guessing based on common patterns)
    var(--border-borderbrand),
    // border
    var(--focus-ring-focus-ring),
    // shadow (for focus state)
    var(--background-backgroundsecondary),
    // background disable
    var(--text-textdisable),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "link-primary",
    var(--text-textlink),
    // text color
    var(--text-textlink),
    // text color hover
    var(--text-textlink),
    // text color active
    var(--transparent),
    // background
    var(--transparent),
    // background hover
    var(--transparent),
    // background active
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--text-textdisable),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "ghost",
    var(--text-textlink),
    // text color
    var(--text-textlink),
    // text color hover
    var(--text-textlink),
    // text color active
    var(--background-backgroundwhite),
    // background
    var(--brand-brandprimary10),
    // background hover (guessing based on common patterns)
    var(--transparent),
    // background active (guessing based on common patterns)
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--text-textdisable),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "text",
    var(--text-textlink),
    // text color
    var(--text-textlink),
    // text color hover
    var(--text-textlink),
    // text color active
    var(--transparent),
    // background
    var(--transparent),
    // background hover (guessing based on common patterns)
    var(--transparent),
    // background active (guessing based on common patterns)
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--transparent),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "link-secondary",
    var(--text-textlink),
    // text color
    var(--text-textlink),
    // text color hover
    var(--text-textlink),
    // text color active
    var(--transparent),
    // background
    var(--transparent),
    // background hover
    var(--transparent),
    // background active
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--text-textdisable),
    // text disable
    var(--transparent),
    // border disable
  ),
  (
    "link-on-color",
    var(--text-textoncolorprimary),
    // text color
    var(--text-textoncolorprimary),
    // text color hover
    var(--text-textoncolorprimary),
    // text color active
    var(--transparent),
    // background
    var(--transparent),
    // background hover
    var(--transparent),
    // background active
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--neutral-white50),
    // text disable
    var(--transparent) // border disable
  ),
  (
    "sub-danger ",
    var(--text-texterror),
    // text color
    var(--text-texterror),
    // text color hover
    var(--text-texterror),
    // text color active
    var(--background-backgrounderrorsecondary),
    // background
    "linear-gradient(0deg, rgba(220, 38, 38, 0.10) 0%, rgba(220, 38, 38, 0.10) 100%), var(--background-backgrounderrorsecondary, #FEF2F2)",
    // background hover
    "linear-gradient(0deg, rgba(220, 38, 38, 0.20) 0%, rgba(220, 38, 38, 0.20) 100%), var(--background-backgrounderrorsecondary, #FEF2F2)",
    // background active
    var(--transparent),
    // border
    var(--transparent),
    // shadow
    var(--transparent),
    // background disable
    var(--neutral-white50),
    // text disable
    var(--transparent) // border disable
  );

:host {
  @each $name, $colorText, $colorTextHover, $colorTextActive, $bg, $bgHover,
    $bgFocus, $border, $shadow, $disableColor, $disableText,
    $disableBorder in $buttonConfig
  {
    &.btn-#{$name} {
      --btn-color: #{$colorText};
      --btn-color-hover: #{$colorTextHover};
      --btn-color-active: #{$colorTextActive};
      --btn-bgcolor: #{$bg};
      --btn-bgcolor-hover: #{$bgHover};
      --btn-bgcolor-focus: #{$bgFocus};
      --btn-border-color: #{$border};
      --btn-shadow: #{$shadow};
      --btn-disable: #{$disableColor};
      --btn-disable-text: #{$disableText};
      --btn-border-disable: #{$disableBorder};
    }
  }

  @each $name, $height, $font, $sizeIcon, $radius, $padding,
    $paddingWithIcon in $sizeBtns
  {
    &.btn#{$name} {
      --btn-rounded: #{$radius};
      --btn-font: #{$font} var(--font-family);
      --btn-padding: #{$padding};
      --btn-padding-with-icon: #{$paddingWithIcon};
      --btn-padding-icononly: calc((#{$height} - #{$sizeIcon} * 0.25rem) / 2);
    }
  }

  &.btn {
    border: none;
    border-radius: var(--btn-rounded);
    color: var(--btn-color);

    @apply inline-flex items-center transition-all outline-none justify-center relative gap-2 cursor-pointer;

    &:not(:disabled):hover {
      color: var(--btn-color-hover);
    }

    &:not(:disabled):focus,
    &.active {
      color: var(--btn-color-active);
    }

    &:not(.btn-mute) {
      background: var(--btn-bgcolor);
      box-shadow: inset 0 0 0 1px var(--btn-border-color);

      &:not(:disabled):hover {
        background: var(--btn-bgcolor-hover);
      }

      &:not(:disabled):focus,
      &.active {
        background: var(--btn-bgcolor-focus);
      }
    }

    &:not(.icon-only) {
      font: var(--btn-font);

      &:not(.btn-mute) {
        padding: var(--btn-padding);
      }

      &.no-prefix:not(.btn-mute) {
        padding-left: var(--btn-padding-with-icon);
      }
      &.no-suffix:not(.btn-mute) {
        padding-right: var(--btn-padding-with-icon);
      }
    }

    &.icon-only:not(.btn-mute) {
      padding: var(--btn-padding-icononly);
    }

    &.btn-start {
      @apply justify-start;
    }

    &.btn-end {
      @apply justify-end;
    }
    &.btn-text {
      :hover {
        @apply underline;
      }
    }

    &.btn-between {
      @apply justify-between;
    }
    .prefix,
    .suffix {
      @apply flex items-center justify-center h-full;
    }

    .btn-title {
      @apply text-ellipsis whitespace-nowrap overflow-hidden;
    }

    &.btn-mute {
      @apply bg-transparent min-w-0;
    }

    // &.btn-hug:not(.btn-mute):not(.icon-only) {
    //   @apply min-w-[100px];
    // }

    &.btn-circle {
      --btn-rounded: 50%;
    }

    &.btn-around {
      --btn-rounded: 9999px;
    }
    &-link-primary,
    &-link-secondary,
    &-link-on-color {
      @apply p-0 min-w-0 gap-1 #{!important};
    }
    &:disabled {
      @apply cursor-not-allowed;
      color: var(--btn-disable-text);
      background: var(--btn-disable);
      border-color: var(--btn-border-disable);
      box-shadow: none;
    }
  }
}
