//name, bar bg,

$configs: ("", var(--process-bar-primary), var(--process-bar-primary-active)),
  ("-success", var(--process-bar-success), var(--process-bar-success-active)),
  ("-warning", var(--process-bar-warning), var(--process-bar-warning-active)),
  (
    "-secondary",
    var(--process-bar-secondary),
    var(--process-bar-secondary-active)
  ),
  ("-error", var(--process-bar-error), var(--process-bar-error-active));

:host {
  &.app-process {
    @apply flex flex-col gap-2;

    &.rtl {
      @apply text-right;

      .process-bar {
        @apply right-0;
      }
    }

    @each $name, $bgBar, $bgActiveBar in $configs {
      &.app-process#{$name} {
        --bg-active-bar: #{$bgActiveBar};
        --bg-bar: #{$bgBar};
      }
    }
  }
}

.process {
  &-inner {
    background: var(--bg-bar);
    @apply relative h-2 w-full rounded-full;
  }

  &-bar {
    background: var(--bg-active-bar);
    transition: all 0.15s ease-in-out;
    @apply rounded-full absolute h-full w-0 max-w-full;
  }
}
