//name, wraperRadius, height, py, px, btnSize
$InputSizeConfig: (
    "",
    var(--br-radius-input-md),
    var(--height-textarea-md),
    8px,
    var(--px-input-md),
    32px
  ),
  (
    "-small",
    var(--br-radius-input-sm),
    var(--height-textarea-sm),
    4px,
    var(--px-input-sm),
    28px
  ),
  (
    "-large",
    var(--br-radius-input-lg),
    var(--height-textarea-lg),
    12px,
    var(--px-input-lg),
    var(--height-input-md)
  );

textarea::-webkit-scrollbar {
  width: 4px;
}

.input {
  grid-row: 1;
  resize: none;

  &:placeholder-shown {
    height: auto !important;
  }

  &-prefix,
  &-suffix {
    grid-row: 1;
    .wrapper {
      @apply h-full;
    }
  }

  &-prefix {
    margin-left: var(--pxInput);
  }

  &-suffix {
    margin-right: var(--pxInput);
  }

  &-counter {
    @apply text-right m-0;
  }

  &-wrapper {
    .frame {
      grid-row: 1/3;
    }

    ::ng-deep {
      .btn {
        max-height: var(--height-input-sm);
      }
    }

    @each $name, $wraperRadius, $height, $py, $px, $btnSize in $InputSizeConfig
    {
      &.input-wrapper#{$name} {
        --pxInput: #{$px};
        --pyInput: #{$py};
        &,
        .frame {
          --frame-radius: #{$wraperRadius};
        }

        .input {
          margin: var(--pyInput) 0;
          min-height: calc($height - var(--pyInput) * 2) !important;
          padding: 0 var(--pxInput);
        }

        ::ng-deep {
          .btn:not(.clear-icon) {
            max-height: $btnSize;
            height: $btnSize;
            min-width: $btnSize;

            &.icon-only {
              max-width: $btnSize;
            }
          }
        }
      }
    }
  }
}

.explain {
  @apply flex flex-row-reverse gap-x-3 gap-y-1;

  .error-hint {
    @apply flex-1;
  }
}
