:host {
  @apply relative block w-full pt-3;
}

.layer {
  @apply absolute inset-0 z-0 max-w-[82%] bg-neutral-white30 rounded-3xl h-[174px] mx-auto;
}

.dashed-bg-horizontal {
  height: 2px;
  width: calc(100% - 32px);
  margin-left: 16px;

  --dash-color: var(--background-backgroundwhite);
  --dash-length: 6px;
  --space-length: 6px;
  --line-thickness: 2px;
  --line-gap: 8px; /* Gap between the dashed lines */

  background-image: repeating-linear-gradient(
    to right,
    /* Define the dashes horizontally */ var(--dash-color) 0,
    var(--dash-color) var(--dash-length),
    transparent var(--dash-length),
    transparent calc(var(--dash-length) + var(--space-length))
  );
  background-size: calc(var(--dash-length) + var(--space-length))
    calc(var(--line-thickness) + var(--line-gap));
  /*
    background-size: <pattern-width> <pattern-height>
    pattern-width: is the full length of one dash + one space
    pattern-height: is the thickness of the line + the gap to the next line
  */
  background-repeat: repeat; /* Default, but good to be explicit */
}

.top-scooped {
  background:
    radial-gradient(
        circle 16px at bottom left,
        #0000 95%,
        var(--background-backgroundwhite)
      )
      bottom left,
    radial-gradient(
        circle 16px at bottom right,
        #0000 95%,
        var(--background-backgroundwhite)
      )
      bottom right;
}

.bottom-scooped {
  background:
    radial-gradient(
        circle 16px at top left,
        #0000 95%,
        var(--background-backgroundwhite)
      )
      top left,
    radial-gradient(
        circle 16px at top right,
        #0000 95%,
        var(--background-backgroundwhite)
      )
      top right;
}

.scooped {
  @apply h-4;

  background-size: 51% 100%;
  background-repeat: no-repeat;
}

.top-card {
  @apply rounded-b-none rounded-t-[44px] shadow-none;
  .card__content {
    @apply md:px-8 md:pt-8 md:pb-5;
  }
}

.content-card{
  @apply rounded-t-none rounded-b-[44px]  shadow-none;
  .card__content {
    @apply md:px-8 md:pt-5 md:pb-8;
  }
}

.result-pattern {
  background: var(--result-pattern-background);
  background-size: 580px;
  background-position: top -50px center;
  background-repeat: no-repeat;
  @apply absolute inset-0 z-0;
}

.actions-function {
  @apply flex gap-2 justify-center flex-wrap;
  ::ng-deep .app-item-icon-circle {
    @apply flex-1 md:max-w-[calc(50%_-_6px)] -sm:min-w-[calc(50%_-_6px)];
  }

}

.result-actions-bot {
  @apply flex items-center gap-2.5 pt-4 mt-6 -sm:flex-col;
  ::ng-deep .btn {
    @apply -sm:w-full;
  }
}
