@mixin priority() {
  --brand-brandprimary60: var(--priority-sandal-sandal60);
  --brand-brandprimary40: var(--priority-sandal-sandal40);
  --brand-brandprimary90: var(--priority-sandal-sandal90);
  --brand-brandprimary80: var(--priority-sandal-sandal80);
  --brand-brandprimary100: var(--priority-sandal-sandal100);
  --brand-brandprimary20: var(--priority-sandal-sandal20);
  --brand-brandprimary110: var(--priority-sandal-sandal110);
  --brand-brandprimary70: var(--priority-sandal-sandal70);
  --brand-brandprimary50: var(--priority-sandal-sandal50);
  --brand-brandprimary30: var(--priority-sandal-sandal30);
  --brand-brandprimary10: var(--priority-sandal-sandal10);
  --icon-iconbrandprimary: var(--priority-sandal-sandal100);
  --icon-iconbrandsecondary: var(--priority-sandal-sandal50);
  --icon-iconneutralprimary: var(--neutral-gray100);
  --icon-iconneutralsecondary: var(--neutral-gray70);
  --icon-iconneutraltertiary: var(--neutral-gray50);
  --icon-iconbrandtertiary: var(--priority-sandal-sandal50);
  --background-backgroundfeature: var(--priority-sandal-sandal10);
  --background-backgroundwhite: var(--neutral-white100);
  --background-backgroundprimary: var(--priority-sandal-sandal10);
  --text-textneutralprimary: var(--neutral-gray100);
  --text-textneutralsecondary: var(--neutral-gray70);
  --text-textneutraltertiary: var(--neutral-gray50);
  --background-backgroundsecondary: var(--priority-sandal-sandal20);
  --border-borderdefault: var(--priority-sandal-sandal30);
  --border-borderactive: var(--priority-sandal-sandal40);
  --divider-divider: var(--neutral-gray30);
  --text-textoncolorprimary: var(--neutral-white100);
  --text-textoncolorsecondary: var(--neutral-white80);
  --icon-icononcolorprimary: var(--neutral-white100);
  --icon-icondisable: var(--neutral-gray50);
  --background-backgroundtertiary: var(--priority-sandal-sandal30);
  --text-textdisable: var(--neutral-gray50);
  --text-texterror: var(--semantic-red70);
  --text-textwarning: var(--semantic-orange70);
  --text-textsuccess: var(--semantic-green70);
  --text-textinfo: var(--semantic-blue70);
  --text-textlink: var(--priority-sandal-sandal100);
  --icon-iconerror: var(--semantic-red60);
  --icon-iconwarning: var(--semantic-orange60);
  --icon-iconsuccess: var(--semantic-green60);
  --icon-iconinfo: var(--semantic-blue60);
  --background-backgrounderrorprimary: var(--semantic-red70);
  --background-backgrounderrorsecondary: var(--semantic-red10);
  --background-backgroundwarningprimary: var(--semantic-orange60);
  --background-backgroundwarningsecondary: var(--semantic-orange10);
  --background-backgroundsuccesssecondary: var(--semantic-green10);
  --background-backgroundsuccessprimary: var(--semantic-green60);
  --background-backgroundinfoprimary: var(--semantic-blue60);
  --background-backgroundinfosecondary: var(--semantic-blue10);
  --background-backgroundbrandprimary: var(--priority-sandal-sandal100);
  --border-borderbrand: var(--priority-sandal-sandal100);
  --border-bordererror: var(--semantic-red60);
  --border-borderwarning: var(--semantic-orange60);
  --border-bordersuccess: var(--semantic-green60);
  --icon-icononcolorsecondary: var(--neutral-white70);
  --background-backgrounddisable: var(--neutral-gray30);
  --border-borderdisbale: var(--neutral-gray40);
  --border-borderwhite: var(--neutral-white100);

  --focus-ring-focus-ring: 0 0 0 4px #f7ecce;
}
