$semantic-blue10: #f1fafe;
$background-backgroundinfosecondary: var(--semantic-blue10);

$list-alert-registry: (
  "semantic-blue10": #f1fafe,
  "background-backgroundinfosecondary": var(--semantic-blue10)
);