$semantic-blue30: #f1fafe;
$background-backgroundinfosecondary-1: var(--semantic-blue30);

$list-accordion: (
  "semantic-blue10": #f1fafe,
  "background-backgroundinfosecondary-1": var(--semantic-blue30)
);