$rankStyle: ("silver", var(--rank-bg-silver), var(--rank-color-silver)),
  ("gold", var(--rank-bg-gold), var(--rank-color-gold)),
  ("platinum", var(--rank-bg-platinum), var(--rank-color-platinum)),
  ("titanium", var(--rank-bg-titanium), var(--rank-color-titanium));

// $name, $size, $paddingRound, $sizeText, $pdBtnChangeAvt
$sizeAvts: ("", 40px, 8px, 16px, 2px), ("-xs", 24px, 2px, 14px, 2px),
  ("-sm", 32px, 8px, 14px, 2px), ("-midMd", 48px, 8px, 16px, 2px),
  ("-lg", 64px, 12px, 24px, 2px), ("-xxl", 84px, 12px, 24px, 2px);

:host {
  @each $name, $bg, $colorText in $rankStyle {
    &.rank-#{$name} {
      background-image: linear-gradient(135deg, $bg);
      padding: 2px;

      .title {
        color: $colorText;
      }
    }
  }

  @each $name, $size, $pd, $sizeText, $pdBtnChangeAvt in $sizeAvts {
    &.app-avt#{$name} {
      width: $size;
      min-width: $size;
      height: $size;

      &.rounded .wrapper {
        padding: $pd;
      }

      .title {
        font-size: $sizeText;
      }

      .change-box {
        padding: $pdBtnChangeAvt !important;
      }
    }
  }

  &.app-avt {
    @apply flex relative z-[1] rounded-circle;

    &-text .wrapper {
      padding: 4px;
    }

    &-active .wrapper {
      box-shadow: inset 0 0 0 1px var(--primary);
    }

    &.bg {
      &-light .wrapper {
        // @apply bg-sub-primary;
      }
      &-bank .wrapper {
        // @apply bg-grey-lighter;
      }
    }

    .wrapper {
      @apply overflow-hidden flex items-center justify-center rounded-circle flex-auto;
      .title {
        @apply overflow-hidden text-clip text-nowrap;
      }
      &-change-photo {
        @apply cursor-pointer;
        &:hover {
          @apply border;
          box-shadow: 0 0 0 3px var(--primary-lighter);
        }
      }
    }
  }
}

.change-box {
  @apply absolute bottom-0 right-0;
}
