<form [formGroup]="form" class="auth-card text-center">
  <div class="space-y-4">
    <app-svg
      [src]="'media/icons/illustrations/sms_otp.svg'"
      class="text-icon-stroke-dark-grey"
      [size]="16"
      [colorChange]="false"
    />
    <div class="space-y-3">
      <div class="text-title-large">Xác thực giao dịch</div>
      <div class="text-body-large-regular text-text-textneutralsecondary">
        Quý khách vui lòng nhập mã OTP đã được gửi đến Số điện thoại:
        <span class="text-body-large-semibold text-text-textlink"
          >0987***321</span
        >
      </div>
    </div>
    <app-otp (otpValueChange)="onOtpValueChange($event)" />
  </div>
</form>
