// name, textColor,textColorHover,textColorFocus, bgColor, bgColorHover, bgColorFocus,
//borderColor, borderColorHover, borderColorFocus
// ringHover, ringFocus
$PillConfigs: (
    "primary",
    var(--color-base),
    var(--color-base),
    var(--color-base),
    var(--primary),
    var(--primary-hover),
    var(--primary-active),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--ring-primary-sm)
  ),
  (
    "sub-primary",
    var(--primary),
    var(--primary),
    var(--color-base),
    var(--sub-primary),
    var(--sub-primary-hover),
    var(--primary),
    var(--primary-light),
    var(--primary),
    var(--transparent),
    var(--transparent),
    var(--ring-primary-sm)
  ),
  (
    "outline",
    var(--primary),
    var(--primary),
    var(--color-base),
    var(--color-base),
    var(--sub-primary),
    var(--primary),
    var(--primary-light),
    var(--primary-light),
    var(--transparent),
    var(--transparent),
    var(--ring-primary-sm)
  ),
  (
    "outline-grey",
    var(--text-primary),
    var(--text-primary),
    var(--color-base),
    var(--grey-lightest),
    var(--sub-primary),
    var(--primary),
    var(--border-ink),
    var(--primary-light),
    var(--transparent),
    var(--transparent),
    var(--ring-primary-sm)
  ),
  (
    "secondary",
    var(--text-primary),
    var(--text-primary),
    var(--text-primary),
    var(--secondary),
    var(--secondary-hover),
    var(--secondary-active),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--ring-secondary-sm)
  ),
  (
    "sub-secondary",
    var(--text-primary),
    var(--text-primary),
    var(--text-primary),
    var(--sub-secondary),
    var(--sub-secondary-hover),
    var(--secondary),
    var(--sub-secondary-hover),
    var(--sub-secondary-hover),
    var(--transparent),
    var(--transparent),
    var(--ring-secondary-sm)
  ),
  (
    "danger",
    var(--color-base),
    var(--color-base),
    var(--color-base),
    var(--danger),
    var(--danger-hover),
    var(--danger-active),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--ring-error-sm)
  ),
  (
    "sub-danger",
    var(--danger),
    var(--danger),
    var(--color-base),
    var(--sub-danger),
    var(--sub-danger-hover),
    var(--danger),
    var(--border-error-hover),
    var(--border-error-hover),
    var(--transparent),
    var(--ring-error-sm),
    var(--ring-error-sm)
  ),
  (
    "success",
    var(--color-base),
    var(--color-base),
    var(--color-base),
    var(--success),
    var(--success-hover),
    var(--success-active),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--ring-success-sm)
  ),
  (
    "sub-success",
    var(--success),
    var(--success),
    var(--color-base),
    var(--success-light),
    var(--sub-success-hover),
    var(--success),
    var(--success-light-hover),
    var(--success-light-hover),
    var(--transparent),
    var(--ring-primary-sm),
    var(--ring-success-sm)
  ),
  (
    "warning",
    var(--color-base),
    var(--color-base),
    var(--color-base),
    var(--highlight),
    var(--highlight-hover),
    var(--highlight-active),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--ring-warning-sm)
  ),
  (
    "sub-warning",
    var(--highlight),
    var(--highlight),
    var(--color-base),
    var(--warning-light),
    var(--sub-warning-hover),
    var(--highlight),
    var(--warning-light-hover),
    var(--warning-light-hover),
    var(--transparent),
    var(--ring-warning-md),
    var(--ring-warning-sm)
  ),
  (
    "transparent",
    var(--color-base),
    var(--color-base),
    var(--color-base),
    #ffffff1f,
    #ffffff1f,
    #ffffff1f,
    #ffffff52,
    #ffffff52,
    #ffffff52,
    #ffffff52,
    #ffffff52,
    #ffffff52,
    // var(--ring-warning-md),
    // var(--ring-warning-sm)
  ),
  (
    "select",
    var(--text-primary),
    var(--text-primary),
    var(--text-primary),
    var(--transparent),
    var(--transparent),
    var(--transparent),
    var(--border-primary),
    var(--border-hover),
    var(--border-active),
    var(--ring-primary-sm),
    var(--ring-primary-sm)
  );

:host {
  @each $name, $textColor, $textColorHover, $textColorFocus, $bgColor,
    $bgColorHover, $bgColorFocus, $borderColor, $borderColorHover,
    $borderColorFocus, $ringHover, $ringFocus in $PillConfigs
  {
    &.app-pill-#{$name} {
      --pill-color: #{$textColor};
      --pill-color-hover: #{$textColorHover};
      --pill-color-focus: #{$textColorFocus};
      --pill-bg: #{$bgColor};
      --pill-bg-hover: #{$bgColorHover};
      --pill-bg-focus: #{$bgColorFocus};
      --pill-border: #{$borderColor};
      --pill-border-hover: #{$borderColorHover};
      --pill-border-focus: #{$borderColorFocus};
      --pill-ring-hover: #{$ringHover};
      --pill-ring-focus: #{$ringFocus};
    }
  }

  &.app-pill {
    --pill-shadow-width: 2px;
    @apply rounded-full inline-flex items-center gap-1 py-1 px-2 cursor-pointer text-label-small;
    transition: all 0.15s ease-in;

    background: var(--pill-bg);
    color: var(--pill-color);
    box-shadow: inset 0 0 0 1px var(--pill-border);

    &.active,
    &:hover {
      background: var(--pill-bg-hover);
      color: var(--pill-color-hover);
      box-shadow: inset 0 0 0 1px var(--pill-border-hover),
        0 0 0 var(--pill-shadow-width) var(--pill-ring-hover);
    }
    &:focus {
      background: var(--pill-bg-focus);
      color: var(--pill-color-focus);
      box-shadow: inset 0 0 0 1px var(--pill-border-hover),
        0 0 0 var(--pill-shadow-width) var(--pill-ring-focus);
    }
  }

  &.app-pill-select {
    --pill-shadow-width: 4px;
  }

  &.app-pill {
    .prefix,
    .suffix {
      @apply flex items-center justify-center;
    }

    &.app-pill-no-click .title {
      @apply pointer-events-none;
    }
    &:not(.app-pill-no-click) .title {
      @apply cursor-pointer;
    }

    &-small {
      @apply text-label-small px-[6px] py-[2px];
    }

    &-large {
      @apply text-label-medium py-[6px] px-3;
    }
  }
}
