:host.app-svg {
  @apply inline-block;
}
::ng-deep {
  .icon-svg {
    @apply flex items-center justify-center;

    svg {
      @apply h-full w-full #{!important};
    }

    &:not(.no-change) {
      svg {
        [fill]:not([fill="none"]) {
          fill: currentColor;
        }
        [stroke] {
          stroke: currentColor;
        }
        [stroke="#30CBFF"] {
          stroke: var(--icon-iconbrandsecondary);
        }
        [stroke="#1F1D83"] {
          stroke: var(--icon-iconbrandprimary);
        }
        [stroke="#97DC41"] {
          stroke: var(--icon-iconbrandtertiary);
        }
      }
    }
    svg {
      [stop-color="#4960FF"] {
        stop-color: var(--brand-brandprimary60);
      }
      [stop-color="#1F1D83"] {
        stop-color: var(--brand-brandprimary100);
      }
      [stop-color="#97DC41"] {
        stop-color: var(--icon-iconbrandtertiary);
      }
      [stop-color="#2932FF"] {
        stop-color: var(--brand-brandprimary70);
      }
      [stop-color="#30CBFF"] {
        stop-color: var(--semantic-blue50);
      }
    }
  }
}
