<ng-template #infoTpl>
  <div class="card">
    @if (step === 2) {
      <div
        app-alert
        [isCardHeader]="true"
        [styleAlert]="'2'"
        [title]="'Quý khách vui lòng kiểm tra và xác nhận thông tin giao dịch!'"
      ></div>
    }
    <div class="card__content py-3 !pt-3 space-y-4">
      @if (amount) {
        <div class="py-2 mt-1 text-center">
          <div class="text-heading-large text-brand-darkblue100">
            {{ amount | number }} <sup>{{ amountCcy }}</sup>
          </div>
          <div
            *ngIf="language$ | async as lang"
            class="text-body-large-regular"
          >
            {{ amount | numberToText: amountCcy : lang | capitalizeFirstChar }}
          </div>
        </div>
      }
      <div class="list-wrap">
        <ng-content />
      </div>
    </div>
  </div>
</ng-template>

<div class="space-y-6">
  @if (step === 2) {
    <div class="space-y-4">
      <ng-container *ngTemplateOutlet="infoTpl" />
      @if (authCheck) {
        <div class="card">
          <div class="card__content py-3">
            <div class="listing-row">
              <div class="title flex items-center gap-2 !basis-auto">
                <app-svg [src]="'media/icons/doutone/otp.svg'" [size]="6" />
                <span class="text-body-large-semibold">
                  Phương thức xác thực
                </span>
              </div>
              <div class="content">
                <span class="text-text-textlink">SMS OTP</span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }

  @if (step === 3 && authCheck) {
    <div class="card">
      <div class="card__content md:pt-5">
        <app-auth-method />
      </div>
    </div>
    <div
      app-accordion
      [type]="UI.AccordionType.Arrow"
      [header]="'Thông tin giao dịch'"
    >
      <ng-container *ngTemplateOutlet="infoTpl" />
    </div>
  }

  <div class="bottom-actions">
    <div class="bottom-actions__item">
      <button
        app-button
        [wFull]="true"
        [color]="UI.ButtonColor.Secondary"
        (click)="handleBack()"
      >
        Quay lại
      </button>
    </div>
    @if (step === 2) {
      <div class="bottom-actions__item">
        <button app-button [wFull]="true" (click)="handleNext()">
          Tiếp tục
        </button>
      </div>
    }
  </div>
</div>
