<div class="card__content py-5 space-y-4">
  <div class="flex items-center justify-between gap-3">
    @if (copyText) {
      <div class="flex items-center gap-3">
        <ng-content select="[card-copy-section]"></ng-content>
        <app-copy-button [text]="copyText" />
      </div>
    }
    <ng-content select="[card-tl]"></ng-content>
    <app-svg [src]="'media/icons/outline/arrow-right.svg'" />
  </div>
  <ng-content select="[card-top-b]"></ng-content>
  <div class="border-t border-dashed border-divider-divider"></div>
  <ng-content select="[card-bl]"></ng-content>
  <ng-content select="[card-br]"></ng-content>
</div>
