:host {
  &.app-spiner {
    @apply flex items-center justify-center flex-col;

    &:not(.inbox) {
      @apply fixed z-[9999] top-0 left-0 w-full h-full;

      &::before {
        content: "";
        background: var(--spinner-mask-bg);
        @apply absolute top-0 left-0 w-full h-full;
      }
    }

    &.inbox {
      .spiner-wrap {
        @apply scale-75;
      }
    }
  }
}

.spiner {
  &-wrap {
    @apply relative;
  }

  &-inner {
    @apply w-20 h-20 rounded-full;
    // animation: loading-animate 2.2s steps(140) infinite;
    // background-image: var(--logo-loading);
    background:
      radial-gradient(farthest-side,var(--brand-brandprimary60) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,var(--brand-brandprimary60));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: loading-animate 1s infinite linear;
  }

  @keyframes loading-animate {
    100%{transform: rotate(1turn)}
  }
}
