@import "mixin";

@function pyInput($height, $lineHeight, $border: 1px) {
  @return calc(($height - $lineHeight - $border * 2) / 2);
}

$lineHeight: 24px;
//name, wraperRadius, height, $px
$InputSizeConfig:
  ("", var(--br-radius-input-md), var(--height-input-md), var(--px-input-md)),
  (
    "-small",
    var(--br-radius-input-sm),
    var(--height-input-sm),
    var(--px-input-sm)
  ),
  (
    "-large",
    var(--br-radius-input-lg),
    var(--height-input-lg),
    var(--px-input-lg)
  );

:host {
  width: 100%;

  &.app-datepicker-around ::ng-deep .ant-picker {
    @apply rounded-full;
  }
}
::ng-deep {
  .ant-picker {
    @include inputStyle;
    @apply w-full bg-transparent;

    @each $name, $wraperRadius, $height, $px in $InputSizeConfig {
      &#{$name} {
        padding: pyInput($height, $lineHeight) $px;
        border-radius: $wraperRadius;
      }
    }

    &.ant-date-width-min {
      @apply w-[96px];
    }

    &.ant-picker-disabled {
      @include inputStyleDisabled;

      .ant-input-disabled {
        @apply m-0 p-0;
      }
    }

    &:not(.ant-picker-disabled):not(.ant-picker-borderless):hover {
      &:not(.ng-invalid) {
        @include inputStyleHover;
      }
    }

    &.ant-picker-borderless {
      border: none;
    }

    &.ng-invalid.ng-touched {
      @include inputStyleError;

      &.ant-picker-focused {
        @include inputStyleErrorFocus;
      }
    }

    &-focused {
      @include inputStyleFocus;
    }

    .ant-picker-input {
      input {
        // @apply text-text-primary text-body-large;
      }
    }

    &-separator {
      @apply size-4 flex items-center justify-center;
    }

    &.ant-picker-value {
      .ant-picker-separator {
        // @apply text-text-primary;
      }
    }

    &-range {
      @apply justify-end;
      & > .ant-picker-input:first-child {
        @apply max-w-[100px];
      }

      .ant-picker-active-bar {
        @apply hidden;
      }

      .ant-picker-clear {
        @apply right-9 #{!important};
      }
    }

    &-suffix {
      // @apply text-text-primary #{!important};
    }

    &-clear {
      background: var(--icon-clear) no-repeat center;
      background-size: 24px;
      @apply size-6 min-w-6 flex transition-all right-7;
      @apply opacity-100 #{!important};
      .anticon {
        @apply hidden;
      }
    }

    &-dropdown {
      --size-day-item: var(--height-input-md);
      --br-container: var(--br-radius-input-md);
      --dot-today-size: 6px;
      --dot-today-bottom: 4px;

      @apply -md:max-w-[calc(100vw-64px)];

      .ant-picker-panel {
        border: none;

        &-container {
          @apply w-full rounded-[var(--br-container)];
        }

        .ant-picker-header {
          border: none;

          @apply items-center p-4 pb-0;

          &-view {
            // @apply text-text-primary;

            button:hover {
              // @apply text-text-primary;
            }
          }

          &-next-btn,
          &-prev-btn,
          &-super-prev-btn,
          &-super-next-btn {
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6.00003L14.2929 11.2929C14.6834 11.6834 14.6834 12.3166 14.2929 12.7071L9 18' stroke='%2318181B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 6.00003L14.2929 11.2929C14.6834 11.6834 14.6834 12.3166 14.2929 12.7071L9 18' stroke='%2318181B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
              center center no-repeat;
            background-size: 24px;
            @apply rounded-sm size-10 min-w-[var(--height-input-xs)];

            &:hover {
              // @apply bg-grey;
            }
            span {
              @apply hidden;
            }
          }

          &-prev-btn,
          &-super-prev-btn {
            @apply rotate-180;
          }
        }

        .ant-picker-body {
          @apply p-4 pt-1;
          .ant-picker-content {
            @apply w-full h-auto;

            thead tr th {
              @apply w-[var(--size-day-item)] h-[var(--size-day-item)] text-body-medium-regular text-text-textneutraltertiary;
            }

            tbody {
              tr {
                @apply h-[var(--size-day-item)];

                &.ant-picker-week-panel-row {
                  &:hover td {
                    // @apply bg-grey;
                  }
                }
              }

              .ant-picker-cell {
                @apply p-0;

                &:before {
                  @apply h-full w-full top-0 left-0 transform-none;
                }

                &-week,
                &.ant-picker-cell-in-view,
                &.ant-picker-cell-in-view-inner {
                  // @apply text-text-primary;
                }

                &:not(.ant-picker-cell-selected):not(
                    .ant-picker-cell-range-end
                  ):hover {
                  .ant-picker-cell-inner {
                    @apply bg-[var(--bg-dropdown-option)] #{!important};
                  }
                }
              }

              .ant-picker-cell-inner,
              .ant-picker-week-panel-row-selected .ant-picker-cell-week {
                @apply size-11 rounded-full;
                line-height: 44px;
              }

              .ant-picker-cell-selected,
              .ant-picker-cell-range-start,
              .ant-picker-cell-range-end,
              .ant-picker-week-panel-row-selected {
                .ant-picker-cell {
                  background: none !important;
                }
                &::before {
                  // @apply bg-secondary-lighter;
                }
                .ant-picker-cell-week,
                .ant-picker-cell-inner {
                  // @apply bg-secondary text-text-primary;
                }
              }

              .ant-picker-cell-range-start::before {
                @apply rounded-l-sm left-2/4;
              }
              .ant-picker-cell-range-end::before {
                @apply rounded-r-sm -left-2/4;
              }

              .ant-picker-cell-in-range::before {
                // @apply bg-secondary-lighter;
              }

              .ant-picker-cell-range-hover-start .ant-picker-cell-inner::after,
              .ant-picker-cell-range-hover-end .ant-picker-cell-inner::after {
                @apply hidden;
              }
            }
          }
        }

        .ant-picker-date-panel {
          --absolute-width: calc(7 * var(--size-day-item) + 32px);
          @apply min-w-[var(--absolute-width)] md:max-w-[var(--absolute-width)];
        }

        .ant-picker-week-panel {
          --absolute-width: calc(8 * var(--size-day-item) + 32px);
          @apply min-w-[var(--absolute-width)] md:max-w-[var(--absolute-width)];
        }

        .ant-picker-week-panel,
        .ant-picker-date-panel {
          @apply w-auto;
          .ant-picker-header {
            &-super-prev-btn,
            &-super-next-btn {
              @apply hidden;
            }
          }

          .ant-picker-body {
            .ant-picker-content {
              @apply w-full;

              tbody {
                .ant-picker-cell {
                  &-inner {
                    // @apply w-[var(--size-day-item)];
                  }

                  &-today {
                    .ant-picker-cell-inner {
                      // @apply text-primary;

                      &::before {
                        top: unset;
                        @apply w-[var(--dot-today-size)] h-[var(--dot-today-size)] bottom-[var(--dot-today-bottom)] rounded-circle border-none left-2/4 -translate-x-2/4 bg-icon-iconbrandsecondary;
                      }
                    }

                    &.ant-picker-cell-selected,
                    &.ant-picker-cell-range-end {
                      .ant-picker-cell-inner {
                        // @apply text-text-primary;

                        &::before {
                          // @apply bg-text-primary;
                        }
                      }
                    }
                  }

                  &.ant-picker-cell-disabled {
                    @apply cursor-not-allowed pointer-events-none;

                    &::before {
                      // @apply bg-bg-disable;
                    }

                    .ant-picker-cell-inner {
                      @apply cursor-not-allowed opacity-50;
                    }
                  }
                }
              }
            }
          }
        }

        .ant-picker-year-panel {
          .ant-picker-body {
            .ant-picker-content {
              tbody {
                .ant-picker-cell {
                  &:not(.ant-picker-cell-selected):not(
                      .ant-picker-cell-range-end
                    ):hover {
                    .ant-picker-cell-inner {
                      // @apply bg-primary-lighter;
                    }
                  }

                  &-selected {
                    .ant-picker-cell-inner {
                      // @apply bg-secondary text-text-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.ant-picker-large {
        --size-day-item: 48px;
        --br-container: var(--br-radius-input-lg);
        --dot-today-bottom: 4px;
      }

      &.ant-picker-small {
        --size-day-item: var(--height-input-sm);
        --br-container: var(--br-radius-input-sm);
        --dot-today-bottom: 2px;
      }

      @media (max-width: 576px) {
        &,
        &.ant-picker-small,
        &.ant-picker-large {
          --size-day-item: var(--height-input-md);
          --br-container: var(--br-radius-input-sm);
          --dot-today-bottom: 2px;
        }
      }

      &-range {
        .ant-picker-panels {
          @apply -md:flex-wrap flex justify-center items-center;
        }
      }
    }
  }
}
::ng-deep {
  .ant-picker-large .ant-picker-input > input {
    line-height: 24px;
  }
  .ant-picker-dropdown {
    padding: 0;
    padding-top: 4px;
  }
  .ant-picker-panel-container {
  }
  .ant-picker-header button {
    @apply p-2 hover:bg-hover hover:text-inherit text-body-large-semibold rounded-lg;
  }
  .ant-picker-cell:not(.ant-picker-cell-in-view) {
    @apply text-text-textneutraltertiary;
  }
  .ant-picker-cell-in-view .ant-picker-cell-inner {
    @apply text-body-medium-semibold;
  }
  .ant-picker-cell-inner {
    @apply rounded-full size-11;
  }
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    @apply bg-background-backgroundbrandprimary;
  }

  .ant-picker-decade-panel,
  .ant-picker-month-panel,
  .ant-picker-quarter-panel,
  .ant-picker-time-panel,
  .ant-picker-week-panel,
  .ant-picker-year-panel {
    @apply w-[320px] md:w-[382px];
    .ant-picker-cell-inner,
    .ant-picker-week-panel-row-selected .ant-picker-cell-week {
      @apply size-full rounded-xl #{!important};
    }

    .ant-picker-cell {
      @apply p-1 #{!important};
    }
  }
}
