<ng-template #datepickerSuffix>
  <app-svg
    [size]="6"
    [colorChange]="false"
    [src]="'media/icons/doutone/calendar.svg'"
  />
</ng-template>

@if(label) {
<div
  [ngClass]="{
    label: true,
    required: required && showRequired
  }"
>
  <ng-template #tooltipDefaultTpl>
    <div class="body-medium-thick mb-1">This is a tooltip</div>
    <div class="body-medium-thin">
      Tooltips are used to describe or identify an element. In most scenarios,
      tooltips help the user understand the meaning, function or alt-text of an
      element.
    </div>
  </ng-template>
  <label class="label-inner" [for]="id">
    {{ label }}
    @if(showTooltip) {
    <app-svg
      class="icon-tooltip"
      [extendClass]="'md:size-6'"
      [size]="5"
      [colorChange]="false"
      nz-tooltip
      [nzTooltipTitle]="tooltipTpl || tooltipDefaultTpl"
      [src]="tooltipIcon"
      (click)="handleTooltip($event)"
    />
    }
  </label>
</div>
}

<div class="app-root">
  <div class="datepicker-wrapper">
    @if(!range) {
    <nz-date-picker
      [nzDisabledDate]="disabledDate.bind(this)"
      [nzId]="id"
      [nzMode]="mode"
      [nzSize]="size"
      [nzShowToday]="showToday"
      [nzSuffixIcon]="datepickerSuffix"
      [nzDropdownClassName]="dropDownClassName"
      [nzPlaceHolder]="placeholder"
      [nzFormat]="dateFormat"
      [nzInputReadOnly]="true"
      [nzAllowClear]="showClear()"
      [nzInline]="inline"
      [nzBorderless]="borderLess"
      [formControl]="control"
      (nzOnOpenChange)="open($event)"
    />
    } @else {
    <!-- [nzDisabledDate]="disabledDate.bind(this)" -->
    <!-- [nzId]="id" -->
    <nz-range-picker
      [nzMode]="mode"
      [nzSize]="size"
      [nzShowToday]="showToday"
      [nzSuffixIcon]="datepickerSuffix"
      [nzDropdownClassName]="dropDownClassName"
      [nzPlaceHolder]="[placeholder, placeholder]"
      [nzFormat]="dateFormat"
      [nzInputReadOnly]="true"
      [nzAllowClear]="showClear()"
      [nzInline]="inline"
      [nzBorderless]="borderLess"
      [formControl]="control"
      [nzSeparator]="rangeSeparator"
      [ngClass]="{
        'ant-picker-value': control.value
      }"
    ></nz-range-picker>
    }
  </div>
  @if((control.invalid && control.touched) || hint) {
  <div class="explain">
    @if(hint && !(control.invalid && control.touched)) {
    <div class="hint">
      {{ hint }}
    </div>
    } @if(control.invalid && control.touched) {
    <app-validate-error
      [errors]="control.errors"
      [errorMessages]="errorMessages"
    />
    }
  </div>
  }
</div>
