<div *ngIf="prefixIcon && !(suffixIcon && iconOnly)" class="prefix">
  <app-svg
    [src]="prefixIcon"
    [colorChange]="iconColorChange"
    [size]="iconSize || SIZE_ICON[size]"
  />
</div>

<div class="btn-title" *ngIf="!iconOnly">
  <ng-content />
</div>

<div *ngIf="suffixIcon || suffix" class="suffix">
  <ng-container *ngIf="suffixIcon">
    <app-svg
      [src]="suffixIcon"
      [colorChange]="iconColorChange"
      [size]="iconSize || SIZE_ICON[size]"
    />
  </ng-container>
  <ng-container *ngIf="suffix">
    <ng-container *ngTemplateOutlet="suffix" />
  </ng-container>
</div>
