<ng-template #labelDefaultTpl>
  <p class="switch-label">{{ label }}</p>
</ng-template>

<div
  [ngClass]="{
    'switch-inner': true,
    'switch-label-left': labelLeftTpl,
    'switch-disabled': control.disabled,
  }"
>  @if (labelLeftTpl) {
    <div class="switch-label-wrap" (click)="handleLabelClick()">
      <ng-container [ngTemplateOutlet]="labelLeftTpl" />
    </div>
  }
  <nz-switch
    [formControl]="control"
    [nzControl]="nzControl"
    (click)="handleClick()"
  />
  <div class="switch-label" (click)="handleLabelClick()">
    <ng-content />
  </div>
</div>
