<div class="sm:flex items-center justify-between mb-4 pl-4">
  <span class="text-title-xl sm:pt-4"> Khám phá PGBank </span>
  <app-tab [tabs]="tabs" [type]="UI.TabType.ButtonPill" class="mt-4 sm:mt-0"/>
</div>
<div class="container-slider relative">
  <app-swiper [slidesTpl]="slidesTpl" [config]="config">
    <ng-template #slidesTpl>
      @for (slide of slides; track slide) {
        <swiper-slide class="swiper-slide promo-item-home">
          <img src="media/imgs/promo-image.jpg" alt="">
        </swiper-slide>
      }
    </ng-template>
  </app-swiper>
  <div
    class="absolute top-1/2 -translate-y-1/2 justify-between w-full  z-10 px-4 hidden sm:flex pointer-events-none [&>button]:pointer-events-auto"
  >
    <button
      class="swiper-button-prev bg-neutral-white20 border border-neutral-white60 p-2 flex items-center justify-center rounded-full"
      type="button"
    >
      <app-svg
        [src]="'media/icons/outline/chevron-left.svg'"
        [size]="5"
        [color]="'text-neutral-white60'"
      ></app-svg>
    </button>
    <button
      class="swiper-button-next bg-neutral-white20 border border-neutral-white60 p-2 flex items-center justify-center rounded-full"
      type="button"
    >
      <app-svg
        [src]="'media/icons/outline/chevron-right.svg'"
        [size]="5"
        [color]="'text-neutral-white60'"
      ></app-svg>
    </button>
  </div>
</div>
<div class="flex items-center justify-center mt-4">
  <div class="swiper-pagination-bullets"></div>
</div>
