<ng-template #headerDefaultTpl>
  @if (type === AccordionType.Arrow) {
    <div class="flex gap-1.5 items-center">
      <div class="flex-1 text-title-large">
        {{ header }}
      </div>
      <div class="size-9 rounded-full flex items-center justify-center bg-neutral-white100 collapse-arrow">
        <app-svg
          [src]="'media/icons/outline/chevron-down.svg'"
          [ngClass]="isActive ? 'active' : ''"
        />
      </div>
    </div>
  } @else {
    {{ header }}
  }
</ng-template>

<ng-template #headerWrapTpl>
  <div class="app-accordion-header">
    <div class="app-accordion-title">
      <ng-container
        [ngTemplateOutlet]="headerTpl || headerDefaultTpl"
        [ngTemplateOutletContext]="{ isActive: isActive }"
      />
    </div>
  </div>
</ng-template>

<ng-template #expandedIcon>
  <div class="ant-collapse-arrow">
    <app-svg
      class="text-icon-iconbrandprimary"
      [src]="expandIconSrc"
      [ngClass]="isActive ? 'active' : ''"
    />
  </div>
</ng-template>

<nz-collapse nzGhost [nzExpandIconPosition]="expandIconPosition">
  <nz-collapse-panel
    #panel
    [nzHeader]="headerWrapTpl"
    [nzExpandedIcon]="expandedIcon"
    [nzActive]="isActive"
    [nzDisabled]="isDisabled"
    [nzExtra]="extraTpl"
    [nzShowArrow]="type === AccordionType.Arrow ? false : showArrow"
    (nzActiveChange)="changeActive($event)"
  >
    <ng-content />
  </nz-collapse-panel>
</nz-collapse>
