<ng-template #prefixTpl>
  <div class="input-prefix">
    <div class="wrapper">
      @if (prefixIcon) {
        <app-svg [src]="prefixIcon" [colorChange]="iconColorChange" />
      }
      <ng-container [ngTemplateOutlet]="prefix || null" />
    </div>
  </div>
</ng-template>

<ng-template #suffixTpl>
  <div class="input-suffix">
    <div class="wrapper">
      @if (isShowClearBtn()) {
        <a
          app-button
          [mute]="true"
          class="clear-icon"
          [iconOnly]="true"
          (click)="clearFn($event)"
          [iconColorChange]="false"
          [size]="'lg'"
          [prefixIcon]="'media/icons/solid/cancel.svg'"
        ></a>
      }
      @if (suffixIcon) {
        <app-svg [src]="suffixIcon" [colorChange]="iconColorChange" />
      }
      @if (suffixText) {
        <div>{{ suffixText }}</div>
      }
      <ng-container [ngTemplateOutlet]="suffix || null" />
    </div>
  </div>
</ng-template>

@if (label) {
  <div
    [ngClass]="{
      label: true,
      required: required && showRequired,
    }"
  >
    <ng-template #tooltipDefaultTpl>
      <div class="mb-1 body-medium-thick">This is a tooltip</div>
      <div class="body-medium-thin">
        Tooltips are used to describe or identify an element. In most scenarios,
        tooltips help the user understand the meaning, function or alt-text of
        an element.
      </div>
    </ng-template>
    <label class="label-inner" [for]="id">
      {{ label }}
      @if (showTooltip) {
        <app-svg
          class="icon-tooltip"
          [extendClass]="'md:size-6'"
          [size]="5"
          [colorChange]="false"
          nz-tooltip
          [nzTooltipTitle]="tooltipTpl || tooltipDefaultTpl"
          [src]="tooltipIcon"
          (click)="handleTooltip($event)"
        />
      }
    </label>
  </div>
}
<div class="app-root">
  <div class="app-root-main">
    <div
      [ngClass]="{
        'input-wrapper': true,
        'input-wrapper-disabled': control.disabled,
      }"
      [class]="size !== 'default' ? ' input-wrapper-' + size : ' '"
    >
      @if (prefix || prefixIcon) {
        <ng-container [ngTemplateOutlet]="prefixTpl" />
      }

      <input
        [id]="id"
        [type]="type"
        class="input"
        [class.disabled]="control.disabled"
        [formControl]="control"
        [placeholder]="placeholder"
        [autocomplete]="autocomplete"
        [autofocus]="autofocus"
        aria-label="input"
      />

      @if (suffix || suffixText || suffixIcon || isShowClearBtn()) {
        <ng-container [ngTemplateOutlet]="suffixTpl" />
      }
      @if (richPlaceholderTpl) {
        <div class="input-rich-placeholder">
          <ng-container [ngTemplateOutlet]="richPlaceholderTpl || null" />
        </div>
      }

      <div class="frame"></div>
    </div>
    @if (extendRight) {
      <div class="extend-right">
        <ng-container [ngTemplateOutlet]="extendRight" />
      </div>
    }
  </div>
  @if ((control.invalid && control.touched) || hint || extendBottom) {
    <div class="explain">
      @if (hint && !(control.invalid && control.touched)) {
        <div class="hint">
          @if (showHintIcon) {
            <app-svg [size]="5" class="hint-icon" [src]="hintIcon" />
          }
          <p>{{ hint }}</p>
        </div>
      }
      @if (extendBottom) {
        <ng-container [ngTemplateOutlet]="extendBottom" />
      }
      @if (control.invalid && control.touched) {
        <app-validate-error
          [errors]="control.errors"
          [errorMessages]="errorMessages"
        />
      }
    </div>
  }
</div>
